.container.top-padding-med
  form.form-inline
    .form-group
      input.form-control(ng-model="searchText", placeholder="Filter")
    .form-group.margin-left-med
      select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
  a.list-group-item(ng-click="showTicket(ticket)" href="#" ng-repeat="ticket in tickets | filter:searchText | orderBy:sortOrder") {{ticket.route.name}}
