.container
  .well
    form.form-horizontal(name="ticketForm")
      fieldset
        legend Ticket
        .form-group
          label.col-md-2.control-label Route
          .col-md-10 {{ ticket.route.name }}
        .form-group
          label.col-md-2.control-label Origin
          .col-md-10 {{ ticket.origin.name }}
        .form-group
          label.col-md-2.control-label Destination
          .col-md-10 {{ ticket.destination.name }}         
        .form-group
          label.col-md-2.control-label Zones
          .col-md-10 {{ ticket.zone.nr }}           
        .form-group
          label.col-md-2.control-label Price/pce
          .col-md-10 {{ ticket.zone.price }}   
        .form-group
          label.col-md-2.control-label Nr of tickets
          .col-md-10
            select(ng-model="ticketAmount", ng-options="amount for amount in amounts")        
        .form-group
          label.col-md-2.control-label(for="password") Password
          .col-md-10
            input.form-control(name="password", type="password", placeholder="Password", ng-model="password", required)
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="purchase()", ng-disabled="signupForm.$invalid") Purchase
              | &nbsp;
              a.btn.btn-default(href="/trip") Cancel
