.container  
  .col-md-12
    label From: {{ currentOrigin.name }}
    a(href="/goFrom") Change
  
  .col-md-12
    label To: {{ currentDestination.name }}
    a(href="/goTo") Change
  .col-md-12
    button.btn.btn-primary(ng-click="purchase()") Find trip
