.container  
  .col-md-12
    label From: {{ currentOrigin.name }}
    a(href="/goFrom") Change
  
  .col-md-12
    label To: {{ currentDestination.name }}
    a(href="/goTo") Change
  .col-md-12
    button.btn.btn-primary(ng-click="findTrips()") Find trip
  
  .col-md-12  
    a.list-group-item(ng-click="showTicket(trip)" href="#" ng-repeat="trip in trips") {{trip.name}} {{trip.nr}}
